<div class="container">
	<h1>Nueva persona</h1>
	
	<form action="/persona/c" method="post">
		<label for="idLoginname">Loginname</label>
		<input id="idLoginname" type="text" name="loginname" autofocus="autofocus" required="required"/>
		<br/>
		
		<label for="idNombre">Nombre</label>
		<input id="idNombre" type="text" name="nombre"/>
		<br/>
		
		<label for="idApellido" >Apellido</label>
		<input id="idApellido " type="text" name="apellido"/>
		<br/>
		
		<div class="row">
		<label for="idPaisNace">País nac.</label>
		<select name="idPaisNace">
			<option value="-1">----</option>
			<option th:each=" pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}"/>
		</select>
		</div>
		
		<input type="submit"/>
		<br/>
	</form>
</div>